* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 360px;
  margin: 0 auto;
  font-family: Helvetica;
  background-color: #ADD8E6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header {
  text-align: center;
}

h1 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #008080;
  margin-bottom: 30px;
}

.palindrome-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

input {
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
}

input, button {
  font-weight: 700;
  border-radius: 5px;
  padding: 7px 15px 10px;
  border: 1px solid #2f4f4f;
}

button {
  width: 50%;
  color: #fff;
  margin: 15px 0;
  background-color: #2f4f4f;
}

.palindrome-msg {
  height: 100px;
  margin: 20px 0;
  text-align: center;
}

.error {
  color: #ff0000;
}